<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="widget-content-title">
    {widgetContentTitle}
</div>
<div class="widget-table-wrapper">
    <table class="widget-table">
        <thead>
            <tr>
                <th>{pageTitle}</th>
                <th>{similarityScore}</th>
                <th>{commonKeywords}</th>
                <th>{relevance}</th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{analysisResults}" as="pageData" key="pageId">
                <f:for each="{pageData.similarities}" as="similarity" key="comparisonPageId">
                    <tr>
                        <td>{pageData.title} → {analysisResults.{comparisonPageId}.title}</td>
                        <td>{similarity.score -> f:format.number(decimals: 2)}</td>
                        <td>{similarity.commonKeywords}</td>
                        <td>{similarity.relevance}</td>
                    </tr>
                </f:for>
            </f:for>
        </tbody>
    </table>
</div>
</html>