<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
    <h1>Proximité sémantique des pages</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Page</th>
                <f:for each="{pages}" as="page">
                    <th>{page.title} (ID: {page.uid})</th>
                </f:for>
            </tr>
        </thead>
        <tbody>
            <f:for each="{pages}" as="page">
                <tr>
                    <td>{page.title} (ID: {page.uid})</td>
                    <f:for each="{pages}" as="otherPage">
                        <td>
                            <f:if condition="{page.uid} == {otherPage.uid}">
                                <f:then>-</f:then>
                                <f:else>
                                    {proximityMatrix.{page.uid}.{otherPage.uid}}
                                </f:else>
                            </f:if>
                        </td>
                    </f:for>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:section>
</html>