<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h2>Pages suggérées</h2>
    <f:if condition="{suggestions}">
        <f:then>
            <f:for each="{suggestions}" as="suggestion">
                <div class="suggestion">
                    <h3>{suggestion.data.title}</h3>
                    <p>Similarité: {suggestion.similarity -> f:format.number(decimals: 2)}</p>
                    <f:if condition="{suggestion.nlp}">
                        <p>Sentiment: {suggestion.nlp.sentiment}</p>
                        <p>Phrases clés:</p>
                        <ul>
                            <f:for each="{suggestion.nlp.keyphrases}" as="keyphrase">
                                <li>{keyphrase}</li>
                            </f:for>
                        </ul>
                        <p>Catégorie: {suggestion.nlp.category}</p>
                        <p>Entités nommées:</p>
                        <ul>
                            <f:for each="{suggestion.nlp.named_entities}" as="entity">
                                <li>{entity}</li>
                            </f:for>
                        </ul>
                        <p>Score de lisibilité: {suggestion.nlp.readability_score -> f:format.number(decimals: 1)}</p>
                    </f:if>
                </div>
            </f:for>
        </f:then>
        <f:else>
            <p>Aucune suggestion trouvée pour cette page.</p>
        </f:else>
    </f:if>
</f:section>
</html>